<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Справочник Складов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container"><br>
    <a th:href="@{/wh/addWhPage}" class="btn btn-primary btn-sm">Добавить</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Склад</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="listsWhs : ${warehouseList}">
            <td th:text="${listsWhs.id}">...</td>
            <td th:text="${listsWhs.name}">...</td>
            <td>
                <a th:href="@{/wh/updateWhPage/{id}(id=${listsWhs.id})}" class="btn btn-primary">Изменить</a>
                <a th:href="@{/wh/deleteWh/{id}(id=${listsWhs.id})}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/}">Назад</a>
</div>

</body>
</html>